
<div class="container">
    <div class="card-panel">
        <div class="row">
          <form class="col s12 list list-inset" ng-submit="subscribe()">

              <div class="input-field col s8">
                  <input placeholder="Login" id="first_name" type="text" class="validate" ng-model="datas.username" >
              </div>
              <div class="input-field col s8">
                  <input placeholder="Mot de passe" id="first_name" type="password" class="validate" ng-model="datas.password" >
              </div>

              <div class="input-field col s8">
                  <input placeholder="Email" id="first_name" type="email" class="validate" ng-model="datas.email" >
              </div>

              <div class="input-field col s6">
                  <button class="btn waves-effect waves-light" type="submit" name="action">S'enregistrer

                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
