<!DOCTYPE html>
<html>
  <head>
    <title>k</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<form action="register" method="post">
<input type="text" name="username">
<input type="submit">salut</input>
</form>
    salut
  </body>
</html>
